{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ range $section := (.Paginate .Sections).Pages }}
    <h2><a href="{{ $section.RelPermalink }}">{{ $section.Date | time.Format site.Params.dateFormats.monthYear }}</a></h2>

    {{ $firstDayOfMonth := $section.Date.AddDate 0 0 (sub 1 $section.Date.Day) }}
    {{ $firstDayOfMonthWeekday := $firstDayOfMonth.Weekday }} {{/* 0=Sun, 6=Sat */}}
    {{ $daysInMonth := ($firstDayOfMonth.AddDate 0 1 -1).Day }}

    {{ $pagesByDate := dict }}
    {{ range $page := $section.Pages }}
      {{ $pagesByDate = merge $pagesByDate (dict ($page.Date | time.Format "2006-01-02") $page) }}
    {{ end }}

    <table class="calendar">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        {{ $totalCells := add $firstDayOfMonthWeekday $daysInMonth }}
        {{ $numRows := div (add $totalCells 6) 7 }}
        {{ range $row := seq $numRows }}
          <tr>
            {{ range $column := seq 7 }}
              {{ $cellIndex := add (mul (sub $row 1) 7) $column }}
              {{ $dayNumber := sub $cellIndex $firstDayOfMonthWeekday }}
              <td>
                {{ if and (ge $dayNumber 1) (le $dayNumber $daysInMonth) }}
                  {{ $date := $firstDayOfMonth.AddDate 0 0 (sub $dayNumber 1) }}
                  {{ $dateKey := $date | time.Format "2006-01-02" }}
                  {{ with $p := index $pagesByDate $dateKey }}
                    {{ range $p.Resources.ByType "image" | first 1 }}
                      {{ with .Process "fill 72x72" }}
                        <a href="{{ $p.RelPermalink }}">
                          <img
                            src="{{ .RelPermalink }}"
                            width="{{ .Width }}"
                            height="{{ .Height }}"
                            alt="{{ printf `A thumbnail of an image from %s.` ($date | time.Format site.Params.dateFormats.day) }}"
                            title="{{ $date | time.Format site.Params.dateFormats.day }}">
                        </a>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              </td>
            {{ end }}
          </tr>
        {{ end }}
      </tbody>
    </table>

  {{ end }}

  <nav class="nav-inline">
    {{ partial "pagination.html" . }}
  </nav>

{{ end }}
