{{ define "title" }}
  <title>{{ printf "%s | %s | %s" .FirstSection.LinkTitle (.Date | time.Format site.Params.dateFormats.monthYear) site.Title }}</title>
{{ end }}

{{ define "main" }}
  <h1><a href="{{ .RelPermalink }}">{{ .Date | time.Format site.Params.dateFormats.monthYear }}</a></h1>
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .Date | time.Format site.Params.dateFormats.day }}</a></h2>
    {{ range .Resources.ByType "image" }}
      {{ with .Process "resize 200x" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
