{{- $title := printf "%s | %s" .Title site.Title }}
{{- if .IsHome }}
  {{- $title = site.Title }}
{{- end }}

{{- $canonicalURL := .Permalink }}
{{- $isPager := false }}
{{- $nextPermalink := "" }}
{{- $prevPermalink := "" }}

{{- with .Store.Get "paginator" }}
  {{- $canonicalURL = .URL | absLangURL }}
  {{- if gt .PageNumber 1 }}
    {{- $isPager = true }}
  {{- end }}
  {{- if gt .TotalPages 1 }}
    {{- $title = printf "%s - Page %d | %s" $.Title .PageNumber site.Title }}
    {{- if $.IsHome }}
      {{- $title = printf "%s - Page %d" site.Title .PageNumber }}
    {{- end }}
  {{- end }}
  {{- with .Prev }}
    {{- $prevPermalink = .URL | absLangURL }}
  {{- end }}
  {{- with .Next }}
    {{- $nextPermalink = .URL | absLangURL }}
  {{- end }}
{{- end }}

<title>{{- $title }}</title>

<link rel="canonical" href="{{ $canonicalURL }}">
{{- with $prevPermalink }}
  <link rel="prev" href="{{ . }}">
{{- end }}
{{- with $nextPermalink }}
  <link rel="next" href="{{ . }}">
{{- end }}

{{- $urlSuffix := strings.TrimPrefix .Permalink $canonicalURL }}
{{- range .AllTranslations }}
  {{- $href := urls.JoinPath .Permalink $urlSuffix "/" }}
  {{- if eq .Site .Sites.Default }}
    <link rel="alternate" hreflang="x-default" href="{{ $href }}">
  {{- end }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ $href }}">
{{- end }}

{{- if or $isPager (in (slice "section" "taxonomy" "term") .Kind) }}
  <meta name="robots" content="noindex,follow">
{{- else }}
  <meta name="robots" content="index,follow">
{{- end  }}
