{{ $id := printf "echart-%03d" .Ordinal }}
{{ $width := or .Attributes.width "600px" }}
{{ $height := or .Attributes.height "400px" }}

<div id={{ $id }} style="width: {{ $width }};height: {{ $height }};"></div>

<script type="text/javascript">
  // Initialize the echarts instance based on the prepared dom
  var chart = echarts.init(document.getElementById({{ $id }}));

  // Specify the configuration items and data for the chart
  {{ .Inner | safeJS }}

  // Display the chart using the configuration items and data just specified.
  chart.setOption(option);
</script>

{{ .Page.Store.Set "has_echart" true }}
