{{- $u := urls.Parse .Destination -}}
{{- $href := $u.String -}}

{{- if eq .Text "*" -}}
  {{- $href = "" -}}
  {{- with or .Title (site.GetPage (printf "/glossary/%s" .Destination)).Title -}}
    <abbr title="{{ . }}">{{ $.Destination }}</abbr>
  {{- else -}}
    <abbr>{{ .Destination }}</abbr>
  {{- end -}}
{{- else if strings.HasPrefix $u.String "#" -}}
  {{- $href = printf "%s#%s" .PageInner.RelPermalink $u.Fragment -}}
{{- else if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- with or
    ($.PageInner.GetPage $path)
    ($.PageInner.Resources.Get $path)
    (resources.Get $path)
  -}}
    {{- $href = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $href = printf "%s?%s" $href . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $href = printf "%s#%s" $href . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if $href -}}
  {{- $attributes := dict "href" $href "title" (.Title | transform.HTMLEscape) -}}
  <a
    {{- range $k, $v := $attributes -}}
      {{- if $v -}}
        {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
      {{- end -}}
    {{- end -}}
    >{{ .Text }}</a>
{{- end -}}
