body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 3rem 1rem;
  max-width: 768px;
  width: 90%;
}

.highlight > pre {
  padding: 1rem;
  border-radius: 0.2rem;
}

pre {
  overflow-x: auto;
}

a {
  color: #0000ff;
}
