{{ define "main" }}

  {{- $taxonomies := slice }}

  <form id="filter">
    {{- range $taxonomy, $terms := site.Taxonomies }}
      {{- $taxonomies = $taxonomies | append $taxonomy }}
      {{- $taxonomyPage := site.GetPage $taxonomy }}
      <label for="{{ $taxonomy }}">{{ $taxonomyPage.LinkTitle }}</label>
      <select id="{{ $taxonomy }}" onchange="filter(this.id,this.value)">
        <option value="all" selected>All</option>
        {{- range $term, $weightedPages := . }}
          {{- $termPage := site.GetPage path.Join $taxonomy $term }}
          <option value="{{ $term }}">{{ $termPage.LinkTitle }}</option>
        {{- end }}
      </select>
    {{- end }}
  </form>

  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{- range $p := .Pages }}
    {{- $terms := slice}}
    {{- range $taxonomies }}
      {{- with $p.GetTerms . }}
        {{- range . }}
          {{- $terms = $terms | append (.RelPermalink | path.Base) }}
        {{- end }}
      {{- end }}
    {{- end }}
    <div class="page-summary {{ delimit $terms " " }}">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ partial "display-terms" . }}
      {{ .Summary }}
      {{ if .Truncated }}<a href="{{ .RelPermalink }}">Read more...</a>{{ end }}
    </div>
  {{ end }}

  <script>
    currentPages = allPages = [...document.getElementsByClassName('page-summary')];
    function filter(taxonomy, term) {
      if (term == 'all') {
        allPages.forEach(page => page.style.display = 'initial');
      }
      else {
        allPages.forEach(page => page.style.display = 'none');
        pages = [... document.getElementsByClassName(term)];
        pages.forEach(page => page.style.display = 'initial');
      }
    }
  </script>

{{ end }}
