{{- define "heading" }}
    {{- partial "software/header-menu" . }}
{{- end }}

{{- define "main" }}
<section id="software-downloads">
    <!-- Regular page content -->
    {{ .Content }}

    <!-- List of downloads -->
    {{- $sectionPage := cond .IsPage .Parent .Page -}}
    {{- $name := $sectionPage.Params.software -}}
    {{- $downloads := index .Site.Data.downloads $name -}}
    {{- if $downloads -}}
        {{- partial "software/list-downloads" (dict "lang" .Lang "downloads" $downloads) }}
    {{- else -}}
        {{- errorf "No downloads found for %q, perhaps you shouldn't use this layout?" $name -}}
    {{- end -}}
</section>
{{- end }}
