// Alert
// ----------------------------------------------------------------------------

div.alert {
  padding: 0.5rem 1rem;
  border: 1px solid #bbb;
}

div.alert-secondary {
  background: #b1dae7;
}

div.alert-heading {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
