// Table of contents
// ----------------------------------------------------------------------------

nav.toc {
  border-bottom: 1px solid #999;
  padding-bottom: 1rem;
}

div.toc-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

a.toc-item {
  display: block;
  text-decoration: none;
  color: #00f;
}

a.toc-level-1 {
  margin-left: 0em;
}

a.toc-level-2 {
  margin-left: 1em;
}

a.toc-level-3 {
  margin-left: 2em;
}

a.toc-level-4 {
  margin-left: 3em;
}

a.toc-level-5 {
  margin-left: 4em;
}

a.toc-level-6 {
  margin-left: 5em;
}
