$black: #222;
$dark-gray: #444;
$gray: #888;
$white: #fff;

body {
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}

.site-title {
  font-size: 250%;
  a {
    text-decoration: none;
    color: $black;
  }
}

.stork-wrapper .stork-excerpt {
  line-height: 1.2;
}

nav.pagination {
  text-align: center;
}

ul.pagination {
  list-style-type: none;
  padding: 0;
}

ul.pagination li.page-item {
  display: inline;
}

ul.pagination li.page-item a.page-link {
  border-radius: 5px;
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  font-family: sans-serif;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
}

ul.pagination li.page-item a:hover.page-link {
  background-color: $gray;
  color: $white;
}

ul.pagination li.page-item.disabled a:hover.page-link {
  background-color: $white;
  color: $black;
  cursor: auto;
}

ul.pagination li.page-item.active a.page-link {
  background-color: $dark-gray;
  color: $white;
  cursor: auto;
}
