*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 1rem 3rem;
  max-width: 768px;
}

a {
  color: blue;
  text-decoration: none;
}

nav {
  margin: 1em 0;
}

nav.menu a,
nav.language-switcher a {
  margin-right: 0.2em;
}

// Pagination

$primary: blue;
$primary-medium: royalblue;
$black: black;
$white: white;
$border-radius: 4px;
$spacer: 36px;

nav.pagination {
  text-align: center;
  margin: $spacer 0;
}

ul.pagination {
  margin: 0;
  padding: 0;
}

ul.pagination li.page-item {
  list-style-type: none;
  display: inline;
  text-align: center;
}

ul.pagination li.page-item a.page-link {
  border-radius: $border-radius;
  padding: 3px 10px 4px;
  margin: 0 2px;
}

ul.pagination li.page-item a:hover.page-link {
  background-color: $primary-medium;
  color: $white;
}

ul.pagination li.page-item.disabled a:hover.page-link {
  background-color: $white;
  color: $black;
  cursor: auto;
}

ul.pagination li.page-item.active a.page-link {
  background-color: $primary;
  color: $white;
  cursor: auto;
}
