body {
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-left: 0 0 3rem 1rem;
  max-width: 768px;
  width: 90%;
}

/* linenos=true */
.highlight > div {
  padding: 0.2rem 1rem;
  border-radius: 12px;
}

/* linenos=false */
.highlight > pre {
  padding: 1rem;
  border-radius: 12px;
}

img.left {
  border-radius: 0.4em;
  float: left;
  margin: 1em 1em 1em 0;
}

img.right {
  border-radius: 0.4em;
  float: right;
  margin: 1em 0 1em 1em;
}
