{{ define "secondary-navbar" }}
{{ partial "blog/navbar" . }}
{{ end }}

{{ define "main" }}
<!-- Main page content -->
{{ .Content }}

<!-- Subscribe to posts lists in current language -->
<section id="blog-subscribe-options-cur-lang">
    <h2>{{ T "postsCurLang" }}</h2>
    <div class="list-group list-group-horizontal-lg">
        <!-- Subscribe by email -->
        <a class="list-group-item list-group-item-action list-group-item-iconized" href="{{ index .Site.Data.blog.subscribe.by_email_url .Language.Lang }}">
            <div class="list-group-img-32"><i class="fas fa-envelope colourise"></i></div>
            <div class="list-group-text"><div class="list-group-heading">{{ T "subscribeByEmail" }}</div></div>
        </a>

        <!-- Subscribe in Telegram -->
        <a class="list-group-item list-group-item-action list-group-item-iconized" href="{{ index .Site.Data.blog.subscribe.by_telegram_url .Language.Lang }}">
            <div class="list-group-img-32"><i class="fab fa-telegram colourise"></i></div>
            <div class="list-group-text"><div class="list-group-heading">{{ T "subscribeInTgram" }}</div></div>
        </a>

        {{ with (.GetPage "/" ).OutputFormats.Get "RSS" }}
        <!-- Subscribe in Feedly -->
        <a class="list-group-item list-group-item-action list-group-item-iconized" href="https://feedly.com/i/subscription/feed%2F{{ .Permalink | querify `` | strings.TrimPrefix `=` }}">
            <div class="list-group-img-32"><img src="/images/icons/feedly-48px.png" alt="Feedly icon"></div>
            <div class="list-group-text"><div class="list-group-heading">{{ T "subscribeInFeedly" }}</div></div>
        </a>

        <!-- Subscribe by RSS -->
        <a class="list-group-item list-group-item-action list-group-item-iconized" href="{{ .Permalink }}">
            <div class="list-group-img-32"><i class="fas fa-rss-square colourise"></i></div>
            <div class="list-group-text"><div class="list-group-heading">{{ T "subscribeByRSS" }}</div></div>
        </a>
        {{ end }}
    </div>
</section>

<!-- Post announcements -->
<section id="blog-subscribe-announcements">
    <h2>{{ T "subscribeSocial" }}</h2>
    <div class="list-group list-group-horizontal-lg">
        {{ range .Site.Data.blog.subscribe.feeds }}
        <a class="list-group-item list-group-item-action list-group-item-iconized" href="{{ .url }}" target="_blank" rel="noopener">
            <div class="list-group-img-32"><i class="{{ .icon }} colourise"></i></div>
            <div class="list-group-text"><div class="list-group-heading">{{ .title }}</div></div>
        </a>
        {{ end }}
    </div>
</section>

<!-- Subscribe to posts lists in other languages -->
<section id="blog-subscribe-options-other-langs">
    <h2>{{ T "postsOtherLangs" }}</h2>
    <ul class="list-unstyled">
        {{ range .Translations }}
        <li>
            <h5 class="mt-2">{{ T (print "posts_" .Language) }}</h5>
            <ul>
                <li><a href="{{ index .Site.Data.blog.subscribe.by_email_url .Language.Lang }}">{{ T "subscribeByEmail" }}</a></li>
                <li><a href="{{ index .Site.Data.blog.subscribe.by_telegram_url .Language.Lang }}">{{ T "subscribeInTgram" }}</a></li>
                {{ with (.GetPage "/" ).OutputFormats.Get "RSS" }}
                <li><a href="https://feedly.com/i/subscription/feed%2F{{ .Permalink | querify `` | strings.TrimPrefix `=` }}">{{ T "subscribeInFeedly" }}</a></li>
                <li><a href="{{ .Permalink }}">{{ T "subscribeByRSS" }}</a></li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
        <li>
            <h5 class="mt-2">{{ T "postsAllLangs" }}</h5>
            <ul>
                {{ with (.GetPage "/" ).OutputFormats.Get "RSS-ALL" }}
                <li><a href="https://feedly.com/i/subscription/feed%2F{{ .Permalink | querify `` | strings.TrimPrefix `=` }}">{{ T "subscribeInFeedly" }}</a></li>
                <li><a href="{{ .Permalink }}">{{ T "subscribeByRSS" }}</a></li>
                {{ end }}
            </ul>
        </li>
    </ul>
</section>

{{ end }}
