{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ range $role, $v := site.Params.departments.systems.roles }}
    {{ $label := .label_for_system_pages }}
    {{ with $.Params.departments }}
      {{ with index . $role }}
        <p>{{ $label }}</p>
        <ul>
          {{ range . }}
            {{ $p := site.GetPage (print "departments/" .) }}
            <li><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
