<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ .Site.Title}}</title>
  <style>code {color: red;}</style>
</head>
<body>
<a href="/">Home</a> | <a href="/post">Posts</a> | <a href="/tags">Tags</a> | <a href="/categories">Categories</a><br><br>
<code>Page type: {{ .Type }}</code><br>
<code>Page kind: {{ .Kind }}</code><br>
<code>Is page: {{ .IsPage }}</code><br>
<code>Is node: {{ .IsNode }}</code><br><br>
{{ block "main" . }}

{{ end }}
</body>
</html>
