<!DOCTYPE html>
<html lang="{{ or site.LanguageCode site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" site.Title .Title }}{{ end }}</title>
</head>
<body>
  <header>
    <h1>{{ site.Title }}</h1>
    {{ with site.Menus.main }}
      <nav class="menu">
        {{ range . }}
          {{ if $.IsMenuCurrent .Menu . }}
            <a class="active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
          {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      </nav>
    {{ end }}
    <hr>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
