{{ define "main" }}
  {{ with .Params.details }}
    <p>Details: <a href="{{ . }}">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.description }}
    <p>Description: {{ . }}</p>
  {{ end }}
  {{ with or .Params.url .Params.details }}
    <hr>
  {{ end }}
  {{ .Content }}

  {{ $collections := slice }}
  {{ range $name, $taxonomy := site.Taxonomies }}
    {{ $collections = $collections | append $taxonomy.Page }}
  {{ end }}

  {{ range $collections.ByWeight }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    Weight = {{ .Weight }}
  {{ end }}

{{ end }}
