{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .Params.details }}
    <p>Details: <a href="{{ . }}">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.description }}
    <p>Description: {{ . }}</p>
  {{ end }}
  {{ with or .Params.url .Params.details }}
    <hr>
  {{ end }}
  {{ .Content }}

  <h2>Skills</h2>
  {{ range where .Site.RegularPages "Type" "skills" }}
    {{ .Render "summary" }}
  {{ end }}

  <h2>Projects</h2>
  {{ range where .Site.RegularPages "Type" "projects" }}
    {{ .Render "summary" }}
  {{ end }}


{{ end }}
