<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 1rem 0 3rem 1rem;
      max-width: 768px;
      width: 90%;
    }
  </style>
  {{ with .OutputFormats.Get "html" }}
    <script>
      const params = new URLSearchParams(window.location.search);
      if (params.get('content_only') == 0) {
        window.location = '{{ .RelPermalink }}' + window.location.search + window.location.hash;
      }
    </script>
  {{ end }}
</head>
<body>

{{ with .OutputFormats.Get "html" }}
  <a href="{{ .RelPermalink }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}">Show full page</a>
{{ end }}

<h2>{{ .Title }}</h2>
{{ .Content }}

</body>
</html>
