{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <a href="{{ site.Home.RelPermalink }}"><button>Home</button></a>
  {{ with .Next }}<a href="{{ .Permalink }}"><button>Previous</button></a>{{ end }}
  {{ with .Prev }}<a href="{{ .Permalink }}"><button>Next</button></a>{{ end }}

<p>Category:
  {{ range (.GetTerms "categories") }}
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
  {{ end }}
</p>

<p>Type:
  {{ range (.GetTerms "types") }}
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
  {{ end }}
</p>


  <div class="diagram">
    {{ .Content }}
  </div>
  {{ highlight .RawContent "md" "lines=true,style=monokai" }}
{{ end }}
