// @import "../../node_modules/simple-datatables/dist/style";

/* Base */
/* ------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0 1rem;
  max-width: 1024px;
}

a {
  color: blue;
  text-decoration: none;
}

/* Navigation */
/* ------------------------------------------------------------------------- */

nav {
  margin-bottom: 1rem;
}

nav ul {
  font-size: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  font-size: 1rem;
  padding: 0.25em 0.5em;
}

nav li.active a {
  background-color: yellow;
}

nav li.ancestor a {
  background-color: cyan;
}

nav.breadcrumbs li:not(:last-child)::after {
  content: "\00bb";
}

/* Code blocks */
/* ------------------------------------------------------------------------- */

/* Applies when there are no line numbers, or when line numbers are inline. */
.highlight > pre {
  padding: 1em 0 1em 1em;
}

/* Applies when line numbers are in a table cell. */
.highlight div {
  padding: 0 0 0 1em;
}

/* Applies to all. */
.highlight div,
.highlight > pre {
  overflow-x: auto;
  /* add border-radius and box-shadow here */
}

/* Applies when using an external style sheet. */
/* https://github.com/alecthomas/chroma/issues/722 */
.highlight .chroma .lntable .lnt,
.highlight .chroma .lntable .hl {
  display: flex;
}

/* Applies when using an external style sheet. */
/* https://github.com/alecthomas/chroma/issues/722 */
.highlight .chroma .lntable .lntd + .lntd {
  width: 100%;
}

/* Views table */
/* ------------------------------------------------------------------------- */

.views-table-column-title {
  white-space: nowrap;
}
.views-table-column-tags {
  width: 15em;
}

.datatable-input {
  width: 100%;
}

.datatable-sorter {
  padding-right: 1em;
}

ul.datatable-pagination-list {
  font-size: initial;
  padding: initial;
}
