{{ define "main" }}
  {{ partial "where" (dict "ctx" . "location" "Entering layouts/term/list.html") }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.ByTitle }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p>Categories:
      {{ range (.GetTerms "categories") }}
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{ end }}
    </p>
    <p>Tags:
      {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{ end }}
    </p>
    <p>{{ .Summary }}</p>
    {{ if .Truncated }}
      <p><a href="{{ .RelPermalink }}">Continue reading...</a></p>
    {{ end }}
  {{ end }}
  {{ partial "where" (dict "ctx" . "location" "Leaving layouts/term/list.html") }}
{{ end }}
