{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $systems := where site.RegularPages.ByTitle "Type" "systems" }}
  {{ range $role, $v := site.Params.departments.systems.roles }}
    {{ $label := .label_for_department_pages }}
    {{ $pages := where $systems (print "Params.departments." $role) "intersect" (slice $.File.BaseFileName) }}
    {{ with $pages }}
      <p>{{ $label }}</p>
      <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      </ul>
    {{ end }}
  {{ end }}

{{ end }}
