{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ end }}

  <ul class="pagination">
    {{ range (site.GetPage "/glossary").Pages.ByTitle }}
      {{ if eq $.RelPermalink .RelPermalink }}
        <li class="page-item active">
          <a class="page-link" aria-current="page" aria-label="Page {{ .Data.Term }}" role="button" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ else }}
        <li class="page-item">
          <a class="page-link" aria-label="Page {{ .Data.Term }}" role="button" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>

{{ end }}
