{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ end }}

  <ul class="pagination">
    {{ range $term, $_ := site.Taxonomies.glossary }}
      {{ $p := site.GetPage (printf "/glossary/%s" (lower $term)) }}
      {{ if eq $.RelPermalink $p.RelPermalink }}
        <li class="page-item active">
          <a class="page-link" aria-current="page" aria-label="Page {{ lower $term }}" role="button" href="{{ $p.RelPermalink }}">{{ $p.LinkTitle }}</a>
        </li>
      {{ else }}
        <li class="page-item">
          <a class="page-link" aria-label="Page {{ lower $term }}" role="button" href="{{ $p.RelPermalink }}">{{ $p.LinkTitle }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>

{{ end }}
