{{ define "secondary-navbar" }}
{{ partial "blog/navbar" . }}
{{ end }}

{{ define "main" }}
<!-- Tag cloud -->
<ul class="list-inline tag-cloud">
    {{- $type := .Type }}
    {{- range .Site.Taxonomies.tags.Alphabetical }}
        <!-- Derive the tag class style based on the number of occurrences   -->
        {{- $cls := "tag-size-1" }}
        {{- if      ge .Count 100 }}{{ $cls = "tag-size-7" }}
        {{- else if ge .Count 50  }}{{ $cls = "tag-size-6" }}
        {{- else if ge .Count 20  }}{{ $cls = "tag-size-5" }}
        {{- else if ge .Count 10  }}{{ $cls = "tag-size-4" }}
        {{- else if ge .Count 5   }}{{ $cls = "tag-size-3" }}
        {{- else if ge .Count 2   }}{{ $cls = "tag-size-2" }}
        {{- end -}}

        <!-- Render a list item for the given tag -->
        <li class="list-inline-item tag {{$cls}}"><a href="{{ .Page.Permalink }}" title="{{ T `numPages` .Count }}">{{ .Page.Title }}</a></li>
    {{- end -}}
</ul>
{{ end }}
