{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $p := (site.GetPage "/posts").Pages.ByParam "foo" }}

  {{/* The Next and Prev anchor texts are intentionally reversed; see docs regarding this regrettable historic error */}}

  {{ with $p.Next . }}
    {{ $class := "" }}
    {{ if not ($p.Prev $) }}
      {{ $class = "isLast" }}
    {{ end }}
    <a {{ with $class -}} class="{{ . }}" {{- end }} href="{{ .RelPermalink }}">Previous</a> {{ with $class }} (class={{ . }}) {{ end }}
  {{ end }}

  {{ with $p.Prev . }}
    {{ $class := "" }}
    {{ if not ($p.Next $) }}
      {{ $class = "isFirst" }}
    {{ end }}
    <a {{ with $class -}} class="{{ . }}" {{- end }} href="{{ .RelPermalink }}">Next</a> {{ with $class }} (class={{ . }}) {{ end }}
  {{ end }}

  {{ .Content }}
{{ end }}
