{{- /* Initialize constants. */}}
{{- $section := . }}

{{- /* Get data. */}}
{{- $urls := site.Data.releases }}
{{- $data := slice }}
{{- range $url := $urls }}
  {{- with resources.GetRemote $url }}
    {{- with .Err }}
      {{- errorf "Unable to get remote resource %s: %s" $url . }}
    {{- else }}
      {{- $data = $data | append (unmarshal .) }}
    {{- end }}
  {{- else }}
    {{- errorf "Unable to get remote resource %s" $url }}
  {{- end }}
{{- end }}

{{- /* Write content page. */}}
{{- range $data }}
  {{- $content := .body }}
  {{- $title := .name }}
  {{- $frontMatter := dict
    "date" .published_at
    "title" .name
  }}
  {{- $filename := printf "%s.md" (urlize $title) }}
  {{- $targetPath := path.Join site.LanguagePrefix $section $filename }}
  {{- $s := printf "%s\n\n%s\n" (jsonify (dict "indent" "  ") $frontMatter) $content }}
  {{- $r := $s | resources.FromString $targetPath }}
  {{- $r.Publish }}
{{- end -}}
