{{ $englishCommand := or (.Get "english-command") (.Get 0) "" -}}
{{ $localCommand := or (.Get "local-command") (.Get 1) $englishCommand -}}
{{ $imageName := or (.Get "image-name") (.Get 2) $englishCommand -}}
{{ $version := or (.Get "version") (.Get 3) (site.Params.latestVersion | string) -}}
{{ $platform := or (.Get "platform") (.Get 4) "win" -}}

<a href="https://docs.mcneel.com/rhino/8/help/en-us/index.htm#commands/dragmode.htm" target="_blank">
    <span style="display: inline-block;" class="unfurl-link">
        <strong>
            <img alt="" style="
            margin-top: -4px;
            padding-top: 2px;
            padding-bottom: 2px;
            height: 24px;
            vertical-align: middle;" src="https://docs.mcneel.com/rhino/8/help/en-us/image/command_icons/dragmode.png"
            onerror="this.onerror=null;this.style.display='none';"
            >
            {{ $localCommand }}
        </strong>
    </span>
</a>

{{/* You cannot place a script element within an span element per the HTML spec. */}}
<script>
    var parser = new DOMParser();
    var href = "https://docs.mcneel.com/rhino/8/help/en-us/unfurl/dragmode.htm"
    var scriptTag = document.getElementsByTagName('script');
    scriptTag = scriptTag[scriptTag.length - 1];
    var parentTag = scriptTag.parentNode;

    function addPreviewDiv(parent){
    const previewElement = document.createElement("span");
    previewElement.classList.add("cmd_tooltip");
    previewElement.classList.add("arrow-top");

    const iframeElement = document.createElement("iframe");
    iframeElement.src = href;
    iframeElement.style.width = "100%";
    iframeElement.style.height = "100%";
    iframeElement.style.border = "none";
    previewElement.appendChild(iframeElement);

    parent.appendChild(previewElement);
    }

    addPreviewDiv(parentTag);
</script>
