{{ with $url := .Get "url" }}
  {{ with try (resources.GetRemote .) }}
    {{ with .Err }}
      {{ errorf "The %q shortcode was unable to get the remote resource %s: %s: see %s" $.Name $url . $.Position }}
    {{ else with .Value}}
      {{ with .Content | transform.Unmarshal }}
        {{ with .channel.item }}
          {{ range first 1 . }}
            {{ with .pubDate }}
              {{ dateFormat "2006-01-02" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ errorf "The %q shortcode was unable to get the remote resource %s: see %s" $.Name $url $.Position }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires a argument named url: see %s" .Name .Position }}
{{ end }}
