{{- /*
Renders a page collection with a dynamic filter based on taxonomy terms.

Requires Alpine.js
https://alpinejs.dev/essentials/installation

@param {obj} pages The page collection to render.
@param {string} taxonomy The taxonomy to use as filter.

@returns {template.HTML}

@example

  {{ $pages := (where site.RegularPages "Type" "posts").ByTitle }}
  {{ partial "filtered-list" (dict "pages" $pages "taxonomy" "categories") }}

*/}}

{{- /* Initialize. */}}
{{- $msg := `When calling the %q partial you must pass a map containing elements named "pages" and "taxonomy"` }}
{{- $pages := "" }}
{{- $partialName := "filtered-list" }}
{{- $taxonomy := "" }}
{{- $taxonomyPlural := "" }}
{{- $taxonomySingular := "" }}

{{- /* Get params. */}}
{{- if reflect.IsMap . }}
  {{- with .pages }}
    {{- $pages = . }}
    {{- with $.taxonomy }}
      {{- $taxonomy = . }}
    {{- else }}
      {{- errorf $msg $partialName }}
    {{- end }}
  {{- else }}
    {{- errorf $msg $partialName }}
  {{- end }}
{{- else }}
  {{- errorf $msg $partialName }}
{{- end }}

{{- /* Get singular and plural forms of taxonomy. */}}
{{- with site.GetPage $taxonomy }}
  {{- $taxonomyPlural = .Data.Plural }}
  {{- $taxonomySingular = .Data.Singular }}
{{- else }}
  {{- errorf "The %q partial was unable to get the %q taxonomy page" $partialName $taxonomy }}
{{- end }}

{{- /* Create sorted slice of unique terms used in this page collection. */}}
{{- $terms := slice }}
{{- range $pages }}
  {{- with (index .Params $taxonomy) }}
    {{- $terms = $terms | append . }}
  {{- end }}
{{- end }}
{{- $terms = $terms | uniq | sort }}

{{- /* Define outer Alpine component. */}}
<div x-data="{ term: 'All' }">

  {{- /* Render select element. */}}
  {{- with $terms }}
    <p>
      {{- $taxonomySingular | title }}
      <select x-model="term">
        <option>All</option>
        {{- range . }}
          <option>{{ . }}</option>
        {{- end }}
      </select>
    </p>
  {{- end }}

  {{- /* Define inner Alpine component. */}}
  <div xdata="{ show: true }">

    {{- /* Render items. */}}
    <div class="fl-items">
      {{- range $pages }}
        {{- $xdata := "'{ terms: [] }'" }}
        {{- with (index .Params $taxonomy) }}
          {{- $xdata = printf "'{ terms: %s }'" (jsonify .) }}
        {{- end }}
        <div class="fl-item" {{ printf "x-data=%s" $xdata | safeHTMLAttr }} x-show="term == 'All' || terms.includes(term) ? true : false">
          <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
          {{- with .GetTerms $taxonomy }}
            {{- /* Render terms within each item. */}}
            <p class="fl-terms">{{ $taxonomyPlural | title }}:
              {{- range $k, $_ := . }}
                {{ if $k }},{{ end }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
              {{- end }}
            </p>
          {{- end }}
          <div class="fl-summary">{{ .Summary }}</div>
        </div>
      {{- end }}
    </div>
  </div>
</div>
