{{- /*
Returns a reference to the first site author's term page.

The first site author is determined by the default sort order of the author
terms pages: by weight, by date (desc), by title, by file path.

@returns {page} The first site author's term page.

@example

  {{ with partial "get-first-site-author.html" }}
    <p>First site author: <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>
    <p>First site author email: {{ .Params.contact.email }}</p>
  {{ end }}

*/}}
{{- return index (where (site.GetPage "/authors").Pages "Params.siteAuthor" true) 0 }}
