{{- /*
Renders links to the page authors in a comma-separated list.

The order is determined by position in the .Param.authors front matter array.

@param {page} The current page object.

@return {template.HTML}

@example

  {{ partial "list-page-authors.html" . }}

*/}}
{{- $taxonomy := "authors" }}
{{- with .GetTerms $taxonomy }}
  {{- $label := "" }}
  {{- if eq .Len 1 }}
    {{- $label = (site.GetPage $taxonomy).Data.Singular }}
  {{- else }}
    {{- $label = (site.GetPage $taxonomy).Data.Plural }}
  {{- end }}
  <p>
    {{- printf "Page %s:" $label }}
    {{- range $k, $_ := . }}
      {{- if $k }},{{ end }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- end }}
  </p>
{{- end }}
