{{- $msg1 := "When passing a map to the internal menu template, one of the elements must be named 'page', and it must be set to the context of the current page." -}}
{{- $msg2 := "The 'maxDepth' option specified in the map passed to the internal menu template must be a non-negative integer." -}}
{{- $msg3 := "The 'renderTitles' value specified in the map passed to the internal menu template must be a boolean value." -}}

{{- $depth := 0 -}}
{{- $id := "main" -}}
{{- $maxDepth := 2 -}}
{{- $page := . -}}
{{- $renderTitles := false -}}

{{- if reflect.IsMap . -}}
  {{- with .page -}}
    {{- $page = . -}}
  {{- else -}}
    {{- errorf $msg1 -}}
  {{- end -}}
  {{- with .id -}}
    {{- $id = . -}}
  {{- end -}}
  {{- if isset . "maxDepth" -}}
    {{- if and (eq (printf "%T" .maxDepth) "int") (ge .maxDepth 0) -}}
      {{- $maxDepth = .maxDepth -}}
    {{- else -}}
      {{- errorf $msg2 -}}
    {{- end -}}
  {{- end -}}
  {{- with .renderTitles -}}
    {{- if (eq (printf "%T" .) "bool") -}}
      {{- $renderTitles = . -}}
    {{- else -}}
      {{- errorf $msg3 -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with and $maxDepth (index site.Menus $id) -}}
  <ul>
    {{- range . -}}
      {{- $ctx := dict
        "depth" $depth
        "id" $id
        "item" .
        "maxDepth" $maxDepth
        "page" $page
        "renderTitles" $renderTitles
      -}}
      {{- template "walk" $ctx -}}
    {{- end }}
  </ul>
{{- end -}}

{{- define "walk" -}}
  {{- $depth := add .depth 1 -}}
  {{- $id := .id -}}
  {{- $item := .item -}}
  {{- $maxDepth := .maxDepth -}}
  {{- $page := .page -}}
  {{- $renderTitles := .renderTitles -}}

  {{- if le $depth $maxDepth -}}
    {{- /* Define attributes for anchor. */ -}}
    {{- $aAttributes := merge (dict "href" $item.URL) $item.Params -}}
    {{- if $renderTitles -}}
      {{- $aAttributes = $aAttributes | merge (dict "title" $item.Title) -}}
    {{- end -}}
    {{- /* Define attributes for list item. */ -}}
    {{- $liAttributes := dict -}}
    {{- if or
      ($page.IsMenuCurrent $id $item)
      (and ($page.HasMenuCurrent $id $item) (eq $depth $maxDepth))
    -}}
      {{- $liAttributes = $liAttributes | merge (dict "class" "active") -}}
    {{- end -}}
    {{- /* Render list item. */}}
    <li {{- partial "_internal/menu/render-attributes" $liAttributes | safeHTMLAttr -}}>{{- /**/ -}}
      <a {{- partial "_internal/menu/render-attributes" $aAttributes | safeHTMLAttr -}}>
        {{- $item.Pre -}}
          {{- $item.Name -}}
        {{- $item.Post -}}
      </a>{{- /**/ -}}
    </li>
    {{- /* Walk the child entries. */ -}}
    {{- if and $item.HasChildren (gt $maxDepth $depth) -}}
      <ul>
      {{- range $item.Children -}}
        {{- $ctx := dict
          "depth" $depth
          "id" $id
          "item" .
          "maxDepth" $maxDepth
          "page" $page
          "renderTitles" $renderTitles
        -}}
        {{- template "walk" $ctx -}}
      {{- end }}
      </ul>
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- define "partials/_internal/menu/render-attributes" -}}
  {{- range $k, $v := . -}}
    {{- with $v -}}
      {{- printf " %s=%q" $k $v | safeHTML -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Remove trailing newlines. */ -}}
