{{- if .Param "latex.enabled" }}
  {{- with .Param "latex.renderer" | lower }}
    {{- if eq . "katex" }}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
      <script>
          document.addEventListener("DOMContentLoaded", function() {
              renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    {left: '$$', right: '$$', display: true},     // must precede single $
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true},
                    {left: '@@', right: '@@', display: true},     // must precede single @
                    {left: '@', right: '@', display: false},
                ],
                // • rendering keys, e.g.:
                throwOnError : false
              });
          });
      </script>

    {{- else if eq . "mathjax" }}

      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
      <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)'], ['@', '@']],
            displayMath: [['$$', '$$'], ['\\[', '\\]'], ['@@', '@@']]
          }
        };
      </script>

    {{- else }}
      {{- errorf "Configuration error: the latexRenderer must be one of KaTeX, MathJax, or MathLive (case-insensitive)." }}
    {{- end }}
  {{- end }}
{{- end }}
