{{- /*
Renders content from the given page or section.

@param {string} . The path to the page or section.
@return {template.HTML}

@example {{ partial "render-content" "/headless/products" }}
@example {{ partial "render-content" "/headless/products/product-1" }}
@example {{ partial "render-content" "/posts/post-1" }}
*/}}

{{- $partialName := "render-content.html" }}
{{- with site.GetPage . }}
  <div class="section">
    {{- if .IsSection }}
      {{- range .Pages.ByTitle }}
      <div class="page">
        <h3>{{ .Title }}</h3>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
      {{- end }}
    {{- else }}
      <div class="page">
        <h3>{{ .Title }}</h3>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
  </div>
{{- else }}
  {{- errorf "The %q partial was unable to get page %q" $partialName . }}
{{- end }}
