{{- /* Get page resource, fall back to global resource. */}}
{{- $r := "" }}
{{- with .page.Resources.Get .image }}
  {{- $r = . }}
{{- else }}
  {{- with resources.Get .image }}
    {{- $r = . }}
  {{- end }}
{{- end }}

{{- /* Set target path for published style sheet. */}}
{{- $targetPath := "" }}
{{- if $r }}
  {{- $selectorSlug := "" }}
  {{ if strings.HasPrefix .selector "." }}
    {{- $selectorSlug = printf "class-%s" (strings.TrimPrefix "." .selector) }}
  {{- else if strings.HasPrefix .selector "#" }}
    {{- $selectorSlug = printf "id-%s" (strings.TrimPrefix "#" .selector) }}
  {{- else }}
    {{- $selectorSlug = printf "element-%s" (strings.TrimPrefix "#" .selector) }}
  {{- end }}
  {{- $targetPath = urls.JoinPath  .page.RelPermalink (printf "%s-background-image.css" $selectorSlug) }}
{{- end }}

{{- /* Create and publish style sheet. */}}
{{- if $r }}
  {{- $css := "{{ .selector }} {background: rgba(0, 0, 0, 0) url('{{ .url }}') no-repeat fixed center center / cover;}" }}
  {{- with resources.FromString "set-background-image.css" $css }}
    {{- $ctx := dict "selector" $.selector "url" $r.RelPermalink }}
    {{- with . | resources.ExecuteAsTemplate $targetPath $ctx }}
      {{- with . | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
