{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ with .Resources.GetMatch "*.{jpg,jpeg,png,webp}" }}
    {{ with .Resize "500x webp" }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
    {{ end }}
  {{ end }}

  {{ .Content }}

  {{ range .Pages.ByTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ with .Resources.GetMatch "*.{jpg,jpeg,png,webp}" }}
        {{ with .Fill "200x100 webp" }}
          <img class="summary" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}
      {{ end }}
      {{ .Summary | truncate 300 }}
      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">More</a>
      {{ end }}
    </section>
  {{ end }}

{{ end }}
