<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="https://www.rhino3d.com/new-source/scss/style.min.c0eeed2079099fa0a9b603a57a90a4e31721575035c237eeb88f75abda274af7.css">
</head>
<body>
  <header>
    <h1><a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a></h1>
    <hr>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
