{{ define "main" }}
  {{ with .Params.details }}
    <p>Details: <a href="{{ . }}">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.description }}
    <p>Description: {{ . }}</p>
  {{ end }}
  {{ with or .Params.url .Params.details }}
    <hr>
  {{ end }}
  {{ .Content }}
  <pre>
    {{- range resources.Match "**" }}
      {{- if reflect.IsImageResourceWithMeta . }}
        {{ printf "Name: %s, Width: %d, Height: %d" .Name .Width .Height }}
        {{ with .Meta }}
          {{ printf "Date: %s" .Date }}
          {{ with .Exif }}{{ printf "EXIF Description: %s" .ImageDescription }}{{ end }}
        {{- end }}
      {{- else }}
        {{ printf "Name: %s, IsImageResourceWithMeta: false" .Name }}
      {{- end }}
    {{ end }}
  </pre>

  <hr>

  <pre>
  {{ range resources.Match "**" }}
    {{ printf "Name: %s, IsImageResourceWithMeta: %t" .Name (reflect.IsImageResourceWithMeta .) }}
  {{ end }}
  </pre>
{{ end }}
