{{ define "main" }}
  {{ with .Params.details }}
    <p>Details: <a href="{{ . }}">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.description }}
    <p>Description: {{ . }}</p>
  {{ end }}
  {{ with or .Params.url .Params.details }}
    <hr>
  {{ end }}
  {{ .Content }}

  <button type="button"
          class="btn btn-info"
          data-bs-toggle="popover"
          data-bs-title="Popover Title"
          data-bs-content="This popover should be positioned to the right of the button, not at the top left corner of the window."
          data-bs-placement="right">
    Click to toggle popover
  </button>

{{ end }}
