<ul class="pagination justify-content-between">
    <!-- Next post -->
    <li class="page-item{{ if not .NextInSection }} disabled{{ end }}">
        {{- with .NextInSection -}}
        <a href="{{ .Permalink }}" class="page-link" title="{{ .Title }}">
            <i class="fas fa-arrow-left me-1"></i>
            <span class="d-none d-sm-inline">{{ T "postNext" }}</span>
        </a>
        {{- else -}}
            <span class="page-link">
                <i class="fas fa-arrow-left me-1"></i>
                <span class="d-none d-sm-inline">{{ T "postNext" }}</span>
            </span>
        {{- end -}}
    </li>
    <!-- Post list -->
    <li class="page-item">
        {{- with .GetPage `/` -}}
            <a href="{{ .Permalink }}" class="page-link">
                <i class="fas fa-home me-1"></i>
                <span class="d-none d-sm-inline">{{ T "home" }}</span>
            </a>
        {{- end -}}
    </li>
    <!-- Previous post -->
    <li class="page-item{{ if not .PrevInSection }} disabled{{ end }}">
        {{- with .PrevInSection -}}
        <a href="{{ .Permalink }}" class="page-link" title="{{ .Title }}">
            <span class="d-none d-sm-inline">{{ T "postPrev" }}</span>
            <i class="fas fa-arrow-right ms-1"></i>
        </a>
        {{- else -}}
            <span class="page-link">
                <span class="d-none d-sm-inline">{{ T "postPrev" }}</span>
                <i class="fas fa-arrow-right ms-1"></i>
            </span>
        {{- end -}}
    </li>
</ul>
