{{ define "main" }}
 <div class="container" role="main">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ partial "breadcrumb.html" . }}
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ .Content }}
          <p>
          See details:
          <ul class="contents">
          {{ range sort .Pages }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
          </p>
      </div>
  </div>
{{ end }}