{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $p := slice }}
  {{ range where site.RegularPages "Section" .Params.section }}
    {{ if eq ($.Date.Format "2006") (.Date.Format "2006") }}
      {{ $p = $p | append . }}
    {{ end }}
  {{ end }}

  {{ range (.Paginate $p).Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Render "summary" }}
  {{ end }}


{{ $sections := slice }}
{{ range $.Parent.Sections.ByDate }}
{{ $sections = $sections | append . }}
{{ end }}

{{ range $index, $section := $sections }}
{{ if eq $section.Date $.Date }}
{{ $prev := index $sections (sub $index 1) }}
{{ $next := index $sections (add $index 1) }}
<h2><a href="{{ $prev.RelPermalink }}">« {{ $prev.LinkTitle }}</a>
| <a href="{{ $.Parent.RelPermalink }}">{{$.Parent.LinkTitle }}</a> | 
<a href="{{ $next.RelPermalink }}">{{ $next.LinkTitle}} »</a></h2>
{{ end }}
{{ end }}










{{ end }}
