{{ define "main" }}
{{ $localScratch := newScratch }}
  <div class="container" role="main">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ partial "breadcrumb.html" . }}
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ .Content }}
      <p>
          Column explanation:
          <ul>
            <li>Territory: as defined in <a href="https://en.wikipedia.org/wiki/ISO_3166-1">ISO 3166</a></li>
            <li>First Fedora version: first fedora version with at least a partial coverage of this territory</li>
          </ul>
      </p>
      <table class="contents sortable">
          <tr>
              <th>Territory</th>
              <th>First Fedora version</th>
          </tr>
          {{ range sort .Pages "Title" "asc" }}
              {{ $localScratch.Delete "shortReleases" }}
              {{ range .Pages }}
                {{ $localScratch.Add "shortReleases" (slice (substr .Params.release 1)) }}
              {{ end }}
              <tr>
                <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                <td>{{ range first 1 ($localScratch.Get "shortReleases" | uniq | sort) }}{{ . }} {{ end }}</td>
              </tr>
          {{ end }}
      </table>
      </div>
  </div>
{{ end }}
