{{- /*
Renders the given page by passing its raw content through the RenderString method on the current page.

@param {string} (postional parameter 0) The path to the page, relative to the current directory or to the content directory.
@returns template.HTML

@example {{< include "_tutorial" >}}
*/}}

{{- with .Get 0 }}
  {{- with $.Page.GetPage . }}
    {{- .RawContent | $.Page.RenderString }}
  {{- else }}
    {{- errorf "The %q shortcode was unable to find %q. See %s" $.Name . $.Position }}
  {{- end }}
{{- else }}
  {{- errorf "The %q shortcode requires a positional parameter indicating the path of the file to include. See %s" .Name .Position }}
{{- end }}
