{{- /* HOW TO USE
{{% quotebox boxstyle="qbs_generic" qmarkstyle="qbm_doublequotationmark" boxcolour="qbc_blue" attribalign="txt_right" citeby="" citelink="" citerel="noopener external" pubtitle="" publink="" pubrel="noopener external" %}}
content
{{% /quotebox %}}
*/ -}}
{{- /* Changelog:
  1. To avoid confusion:
    * replaced src prefix with cite
    * replaced attrib prefix with pub
  2. converted to $var
*/ -}}
{{- $boxstyle     := .Get "boxstyle"    -}}
{{- $boxcolour    := .Get "boxcolour"   -}}
{{- $qmarkstyle   := .Get "qmarkstyle"  -}}
{{- $attribalign  := .Get "attribalign" -}}
{{- $citeby       := or (.Get "citeby")   (.Get "srctitle")   -}}
{{- $citelink     := or (.Get "citelink") (.Get "srclink")    -}}
{{- $citerel      := or (.Get "citerel")  (.Get "srcrel")     -}}
{{- $pubtitle     := or (.Get "pubtitle") (.Get "attribto")   -}}
{{- $publink      := or (.Get "publink")  (.Get "attriblink") -}}
{{- $pubrel       := or (.Get "pubrel")   (.Get "attribrel")  -}}
<figure class="quote_box {{ with $boxstyle }}{{ . }}{{ end }} {{ with $boxcolour }}{{ . }}{{ end }}">
  <blockquote class="{{ with $qmarkstyle }}{{ . }}{{ end }}"{{ with $citelink }} cite="{{ . }}"{{ end }}>
    {{ .Inner -}}
  </blockquote>
  {{ with or $pubtitle $citeby }}
  <figcaption class="attribution_name {{ with $attribalign }}{{ . }}{{ end }}">
    <p><cite>{{ with $citelink }}<a href="{{ . }}" rel="dct:title {{ with $citerel }}{{ . }}{{ end }}" referrerpolicy="strict-origin-when-cross-origin">{{ end }}{{ with $citeby }}{{ . | markdownify }}{{ end }}{{ with $citelink }}</a>{{ end }}{{ with and $citeby $pubtitle }}{{ i18n "quote_src" }} {{ end }}</cite>{{ with $pubtitle }}{{ with $publink }}<a href="{{ . }}" rel="dct:creator {{ with $pubrel }}{{ . }}{{ end }}" referrerpolicy="strict-origin-when-cross-origin">{{ end }}{{ . | markdownify }}{{ with $publink }}</a>{{ end }}{{ end }}</p>
  </figcaption>
  {{ end }}
</figure>
