{{- /* Set defaults. */}}
{{- $dir := "images/random" }}
{{- $format := "webp" }}
{{- $height := 360 }}
{{- $width := 640 }}

{{- /* Get params. */}}
{{- with .Get "dir" }}
  {{- $dir = . }}
{{- end }}
{{- with .Get "format" }}
  {{- $format = . }}
{{- end }}
{{- with .Get "height" }}
  {{- $height = . | int }}
{{- end }}
{{- with .Get "width" }}
  {{- $width = . | int }}
{{- end }}

{{- /* Build slice of processed images. */}}
{{- $images := slice }}
{{- range resources.Match (printf "%s/*" $dir) }}
  {{- with .Fill (printf "%dx%d %s" $width $height $format) }}
    {{- $m := dict
      "alt" (path.BaseName .Name | humanize | title)
      "height" .Height
      "relPermalink" .RelPermalink
      "width" .Width
    }}
    {{- $images = $images | append $m }}
  {{- end }}
{{- end }}

{{- /* Render first image in slice. */}}
{{- with index $images 0 -}}
  <img
    alt="{{ .alt }}"
    class="random-image"
    src="{{ .relPermalink }}"
    width="{{ .width }}"
    height="{{ .height }}"
    data-index="0"
    data-images="{{ $images | jsonify }}"
    onclick="shuffleImage(this)"
  >
{{- end -}}
