{{- /* Set defaults. */}}
{{- $dir := "images/random" }}
{{- $format := "webp" }}
{{- $height := 360 }}
{{- $width := 640 }}

{{- /* Get params. */}}
{{- with .Get "dir" }}
  {{- $dir = . }}
{{- end }}
{{- with .Get "format" }}
  {{- $format = . }}
{{- end }}
{{- with .Get "height" }}
  {{- $height = . | int }}
{{- end }}
{{- with .Get "width" }}
  {{- $width = . | int }}
{{- end }}

{{- /* Build slice of processed images. */}}
{{- $images := slice }}
{{- range resources.Match (printf "%s/*" $dir) }}
  {{- with .Fill (printf "%dx%d %s" $width $height $format) }}
    {{- $m := dict
      "alt" (path.BaseName .Name | humanize | title)
      "height" .Height
      "src" .RelPermalink
      "width" .Width
    }}
    {{- $images = $images | append $m }}
  {{- end }}
{{- end }}

{{- /* Render placeholder image (1px transparent GIF). */}}
<img
  alt=""
  class="{{ .Name }}"
  id="{{ printf "%s-%d" .Name .Ordinal }}"
  src="data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
  width="{{ $width }}"
  height="{{ $height }}"
  data-index=""
  data-images="{{ $images | jsonify }}"
  onclick="shuffleImage(this)"
>
{{- /**/ -}}
