{{ with $specificWordIdentifier := .Page.Params.specificWordIdentifier }}
  {{ with index site.Data.words . }}
    {{ $targetPath := printf "/images/%s.svg" $specificWordIdentifier }}
    {{ $r := resources.Get "templates/svg.html" }}
    {{ $i := $r | resources.ExecuteAsTemplate $targetPath . }}
    <img src="{{ $i.RelPermalink }}" alt="">
  {{ else }}
    {{ errorf "The %q shortcode was unable to find a key named %q in data/words. See %s" $.Name $specificWordIdentifier $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires a front matter field named %q. See %s" .Name "specificWordIdentifier" $specificWordIdentifier .Position }}
{{ end }}
