{{ with $specificWordIdentifier := .Page.Params.specificWordIdentifier }}
  {{ with index site.Data.words . }}
    <svg xmlns="http://www.w3.org/2000/svg">
      <g>
        <rect x="0" y="0" width="100" height="100" fill="red"></rect>
        <text x="0" y="50" font-family="Verdana" font-size="35" fill="blue">
          {{ . }}
        </text>
      </g>
    </svg>
  {{ else }}
    {{ errorf "The %q shortcode was unable to find a key named %q in data/words. See %s" $.Name $specificWordIdentifier $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires a front matter field named %q. See %s" .Name "specificWordIdentifier" $specificWordIdentifier .Position }}
{{ end }}
