{{ with $specificWordIdentifier := .Page.Params.specificWordIdentifier }}
  {{ with index site.Data.words . }}
    {{ $r := resources.Get "templates/svg.html" }}
    {{ with $r | resources.ExecuteAsTemplate "" . }}
      <img src="data:image/svg+xml;base64,{{ .Content | base64Encode }}">
    {{ end }}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find a key named %q in data/words. See %s" $.Name $specificWordIdentifier $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires a front matter field named %q. See %s" .Name "specificWordIdentifier" $specificWordIdentifier .Position }}
{{ end }}
